.backgroundHome {
    position: absolute;
    inset: 0;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 1380px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.wren {
    position: absolute;
    top: 60px;
    left: 200px;
    width: 600px;
    height: auto;
    pointer-events: none;
    z-index: 20;
}

.selendangkiri {
    position: absolute;
    top: 125px;
    left: 100px;
    width: 758px;
    height: auto;
}

.bgtitle {
    position: absolute;
    top: 235px;
    left: 730px;
    width: 250px;
    height: auto;
    z-index: 10;
}

.bintangkuningtitle {
    position: absolute;
    left: 90%;
    top: 10px;
    transform: translateX(-50%);
    width: 23px;
    height: auto;
    z-index: 11;
    pointer-events: none;
}

.bintangkuningtitledua {
    position: absolute;
    left: 13%;
    top: 10px;
    transform: translateX(-50%);
    width: 23px;
    height: auto;
    z-index: 12;
    pointer-events: none;
}

.text-wren {
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    color: #ffc647;
    top: 3px;
    font-size: 24px;
    font-weight: 400;
    /* Ubah dari 600 ke 400 agar menggunakan font Regular */
    font-family: var(--font-libre-caslon), serif;
    /* Menggunakan Libre Caslon */
    letter-spacing: 1px;
}

.text-joya {
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    color: #ffc647;
    top: 3px;
    font-size: 24px;
    font-weight: 400;
    /* Ubah dari 600 ke 400 agar menggunakan font Regular */
    font-family: var(--font-libre-caslon), serif;
    /* Menggunakan Libre Caslon */
    letter-spacing: 1px;
}

.description {
    position: absolute;
    left: 730px;
    color: #fff8e9;
    top: 300px;
    font-size: 18px;
    font-weight: 400;
    /* Memastikan font yang ditarik adalah Regular */
    font-family: var(--font-vend-sans), sans-serif;
    /* Menggunakan Vend Sans */
    letter-spacing: 1px;
}

.bungakuning {
    position: absolute;
    top: 140px;
    right: 1170px;
    width: 130px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.nextbutton8 {
    position: absolute;
    top: 1100px;
    left: 45%;
    transform: translateX(-50%);
    width: 50px;
    height: auto;
    z-index: 15;
    pointer-events: none;

    animation: moveLeftRight 4s ease-in-out infinite;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(-50%) translateX(0);
    }

    50% {
        transform: translateX(-50%) translateX(20px);
    }

    100% {
        transform: translateX(-50%) translateX(0);
    }
}

@keyframes moveRightLeft {
    0% {
        transform: translateX(50%) translateX(0);
    }

    50% {
        transform: translateX(50%) translateX(-20px);
    }

    100% {
        transform: translateX(50%) translateX(0);
    }
}

.prevbutton8 {
    position: absolute;
    top: 1100px;
    left: 73%;
    transform: translateX(-50%);
    width: 50px;
    height: auto;
    z-index: 15;
    pointer-events: none;
    animation: moveRightLeft 4s ease-in-out infinite;

}


.bintangbirupolos {
    position: absolute;
    top: 200px;
    right: 1326px;
    width: 40px;
    height: auto;
    z-index: 15;
    pointer-events: none;

}

.bungapinkpolos {
    position: absolute;
    top: 70px;
    right: 1280px;
    width: 80px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.tetesanairdua {
    position: absolute;
    top: 580px;
    right: 1220px;
    width: 31px;
    height: auto;
    z-index: 15;
    pointer-events: none;
    animation: float 4s ease-in-out infinite;
}

.tetesanairsatu {
    position: absolute;
    top: 505px;
    right: 1300px;
    width: 31px;
    height: auto;
    z-index: 15;
    pointer-events: none;
    animation: float 4.5s ease-in-out infinite;

}

.selendangkanan {
    position: absolute;
    top: 155px;
    left: 850px;
    width: 758px;
    height: auto;
}

.bungakuningdua {
    position: absolute;
    top: 400px;
    left: 1090px;
    width: 130px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.bintangkuningpolos {
    position: absolute;
    top: 140px;
    left: 1270px;
    width: 80px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.bungapinkdua {
    position: absolute;
    top: 60px;
    left: 1180px;
    width: 100px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.tetesanairv2 {
    position: absolute;
    top: 650px;
    left: 1000px;
    width: 30px;
    height: auto;
    z-index: 15;
    animation: float 4.5s ease-in-out infinite;
}

.tetesanairv3 {
    position: absolute;
    top: 540px;
    left: 1230px;
    width: 40px;
    height: auto;
    z-index: 15;
    animation: float 5s ease-in-out infinite;

}

.tetesanairv4 {
    position: absolute;
    top: 680px;
    left: 1320px;
    width: 40px;
    height: auto;
    z-index: 15;
    animation: float 4s ease-in-out infinite;

}

.carusel {
    position: absolute;
    top: 900px;
    left: 300px;
    z-index: 40;
}

.awanicon {
    position: absolute;
    width: 1600px;
    height: auto;
    right: -40px;
    top: 730px;
}

.ringcarusel {
    position: absolute;
    width: 1300px;
    height: auto;
    left: 200px;
    top: 240px;
    z-index: -5;
}

.decorationPFP {
    position: absolute;
    width: 1200px;
    height: auto;
    left: 320px;
    top: 330px;
    opacity: 0.1;
}

.bintangkuningpolosv2 {
    position: absolute;
    top: 840px;
    right: 1170px;
    width: 160px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.bungapinkpolosv2 {
    position: absolute;
    top: 840px;
    right: 1310px;
    width: 80px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.bungakuningv2 {
    position: absolute;
    top: 1120px;
    left: 1150px;
    width: 120px;
    height: auto;
    z-index: 15;
    pointer-events: none;

}

.bungapinkpolosv3 {
    position: absolute;
    top: 1220px;
    left: 1250px;
    width: 80px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.bintangbirupolosv2 {
    position: absolute;
    top: 1020px;
    left: 1250px;
    width: 80px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.bintangbirupolosv3 {
    position: absolute;
    top: 1220px;
    right: 1250px;
    width: 80px;
    height: auto;
    z-index: 15;
    pointer-events: none;
}

.tetesanairv5 {
    position: absolute;
    top: 1020px;
    right: 1220px;
    width: 20px;
    height: auto;
    z-index: 15;
    pointer-events: none;
    animation: float 4.5s ease-in-out infinite;

}

.tetesanairv6 {
    position: absolute;
    top: 133 0px;
    right: 1275px;
    width: 30px;
    height: auto;
    z-index: 15;
    pointer-events: none;
    animation: float 4.5s ease-in-out infinite;

}

.tetesanairv7 {
    position: absolute;
    top: 1250px;
    left: 1160px;
    width: 30px;
    height: auto;
    z-index: 15;
    pointer-events: none;
    animation: float 4.5s ease-in-out infinite;

}

.tetesanairv8 {
    position: absolute;
    top: 1340px;
    left: 1275px;
    width: 30px;
    height: auto;
    z-index: 15;
    pointer-events: none;
    animation: float 4.5s ease-in-out infinite;

}

.awanjoya {
    position: absolute;
    top: 1360px;
    right: 710px;
    width: 1000px;
    height: auto;
    z-index: 15;
}


.backgroundjoya {
    position: absolute;
    top: 1400px;
    right: -370px;
    width: 1900px;
    height: auto;
    z-index: 15;
}

.joya {
    position: absolute;
    top: 1770px;
    left: 850px;
    width: 300px;
    height: auto;
    z-index: 20;
}

.bgtitlev2 {
    position: absolute;
    top: 1770px;
    right: 820px;
    width: 350px;
    height: auto;
    z-index: 10;
}

.bintangkuningtitlev2 {
    position: absolute;
    left: 92%;
    top: 10px;
    transform: translateX(-50%);
    width: 23px;
    height: auto;
    z-index: 11;
    pointer-events: none;
}

.bintangkuningtitleduav2 {
    position: absolute;
    left: 8%;
    top: 10px;
    transform: translateX(-50%);
    width: 23px;
    height: auto;
    z-index: 12;
    pointer-events: none;
}

.text-joya {
    position: absolute;
    z-index: 5;
    left: 15 0px;
    color: #ffc647;
    top: 7px;
    font-size: 20px;
    font-family: var(--font-libre-caslon), serif;
}

.descriptionjoya {
    position: absolute;
    left: 220px;
    color: #fff8e9;
    top: 1830px;
    font-size: 16px;
    font-weight: 400;
    /* Memastikan font yang ditarik adalah Regular */
    font-family: var(--font-vend-sans), sans-serif;
    letter-spacing: 1px;
}

.bungajoya {
    position: absolute;
    top: 1695px;
    right: 500px;
    width: 130px;
    height: auto;
    z-index: 30;
}

.bungajoyav2 {
    position: absolute;
    top: 1580px;
    right: 1260px;
    width: 130px;
    height: auto;
    z-index: 30;
}

.bungajoyatiga {
    position: absolute;
    top: 1500px;
    left: 1180px;
    width: 130px;
    height: auto;
    z-index: 30;
}

.bungajoyaempat {
    position: absolute;
    top: 2000px;
    left: 1150px;
    width: 70px;
    height: auto;
    z-index: 30;
}

.skill {
    position: absolute;
    z-index: 5;
    left: 220px;
    color: #ffc647;
    top: 2170px;
    font-size: 24px;
    font-family: var(--font-libre-caslon), serif;

}

.starimg {
    position: absolute;
    z-index: 5;
    left: 220px;
    top: 2220px;
    width: 40px;
    height: auto;
}

.skillsatu {
    position: absolute;
    z-index: 5;
    left: 270px;
    color: #fff8e9;
    top: 2220px;
    font-size: 24px;
    font-family: var(--font-vend-sans), sans-serif;
}

.skilldua {
    position: absolute;
    z-index: 5;
    left: 270px;
    color: #fff8e9;
    top: 2270px;
    font-size: 24px;
    font-family: var(--font-vend-sans), sans-serif;
}

.skilltiga {
    position: absolute;
    z-index: 5;
    left: 270px;
    color: #fff8e9;
    top: 2320px;
    font-size: 24px;
    font-family: var(--font-vend-sans), sans-serif;
}

.skillempat {
    position: absolute;
    z-index: 5;
    left: 270px;
    color: #fff8e9;
    top: 2370px;
    font-size: 24px;
    font-family: var(--font-vend-sans), sans-serif;
}


.software {
    position: absolute;
    z-index: 5;
    left: 800px;
    color: #ffc647;
    top: 2170px;
    font-size: 24px;
    font-family: var(--font-libre-caslon), serif;

}

.softwareimg {
    position: absolute;
    z-index: 5;
    left: 800px;
    top: 2220px;
    width: 260px;
    height: auto;
}



.bgtitlev3 {
    position: absolute;
    top: 2550px;
    right: 530px;
    width: 350px;
    height: auto;
    z-index: 10;
}

.bintangkuningtitlev3 {
    position: absolute;
    left: 93%;
    top: 10px;
    transform: translateX(-50%);
    width: 23px;
    height: auto;
    z-index: 11;
    pointer-events: none;
}

.bintangkuningtitleduav3 {
    position: absolute;
    left: 8%;
    top: 10px;
    transform: translateX(-50%);
    width: 23px;
    height: auto;
    z-index: 12;
    pointer-events: none;
}

.dekorfooter {
    position: absolute;
    z-index: 3;
    width: 100px;
    right: 70px;
    height: auto;
    top: 2480px;
    pointer-events: none;
    animation: float 4.5s ease-in-out infinite;

}

.dekorfooterdua {
    position: absolute;
    z-index: 3;
    width: 100px;
    left: 100px;
    height: auto;
    top: 2480px;
    pointer-events: none;
    animation: float 4.5s ease-in-out infinite;

}

.footerAbout {
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
}

.full-height-bg {
    height: 460vh;
}

.main-content {
    height: 460vh;
    overflow: hidden;
}

@media (min-width: 1460px) {
    .nextbutton8 {
        position: absolute;
        top: 1100px;
        left: 42%;
        transform: translateX(-50%);
        width: 50px;
        height: auto;
        z-index: 15;
        pointer-events: none;

        animation: moveLeftRight 4s ease-in-out infinite;
    }

    .prevbutton8 {
        position: absolute;
        top: 1100px;
        left: 67%;
        transform: translateX(-50%);
        width: 50px;
        height: auto;
        z-index: 15;
        pointer-events: none;
        animation: moveRightLeft 4s ease-in-out infinite;

    }

    .full-height-bg {
        height: 428vh;
    }

    .main-content {
        height: 428vh;
        overflow: hidden;
    }

    .backgroundHome {
        position: absolute;
        inset: 0;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 1480px;
        height: auto;
        z-index: 1;
        pointer-events: none;
    }

    .wren {
        position: absolute;
        top: 60px;
        left: 200px;
        width: 600px;
        height: auto;
        pointer-events: none;
        z-index: 20;
    }

    .selendangkiri {
        position: absolute;
        top: 125px;
        left: 100px;
        width: 758px;
        height: auto;
    }

    .bgtitle {
        position: absolute;
        top: 235px;
        left: 730px;
        width: 250px;
        height: auto;
        z-index: 10;
    }

    .bintangkuningtitle {
        position: absolute;
        left: 90%;
        top: 10px;
        transform: translateX(-50%);
        width: 23px;
        height: auto;
        z-index: 11;
        pointer-events: none;
    }

    .bintangkuningtitledua {
        position: absolute;
        left: 13%;
        top: 10px;
        transform: translateX(-50%);
        width: 23px;
        height: auto;
        z-index: 12;
        pointer-events: none;
    }

    .text-wren {
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
        color: #ffc647;
        top: 3px;
        font-size: 24px;
        font-weight: 400;
        /* Ubah dari 600 ke 400 agar menggunakan font Regular */
        font-family: var(--font-libre-caslon), serif;
        /* Menggunakan Libre Caslon */
        letter-spacing: 1px;
    }

    .text-joya {
        position: absolute;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
        color: #ffc647;
        top: 3px;
        font-size: 24px;
        font-weight: 400;
        /* Ubah dari 600 ke 400 agar menggunakan font Regular */
        font-family: var(--font-libre-caslon), serif;
        /* Menggunakan Libre Caslon */
        letter-spacing: 1px;
    }

    .description {
        position: absolute;
        left: 730px;
        color: #fff8e9;
        top: 300px;
        font-size: 18px;
        font-weight: 400;
        /* Memastikan font yang ditarik adalah Regular */
        font-family: var(--font-vend-sans), sans-serif;
        /* Menggunakan Vend Sans */
        letter-spacing: 1px;
    }

    .bungakuning {
        position: absolute;
        top: 140px;
        left: 13%;
        transform: translateX(-50%);
        width: 130px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .bintangbirupolos {
        position: absolute;
        top: 200px;
        left: 6%;
        transform: translateX(-50%);
        width: 60px;
        height: auto;
        z-index: 15;
        pointer-events: none;

    }

    .bungapinkpolos {
        position: absolute;
        top: 70px;
        left: 7%;
        transform: translateX(-50%);
        width: 90px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .tetesanairdua {
        position: absolute;
        top: 580px;
        left: 12%;
        transform: translateX(-50%);
        width: 31px;
        height: auto;
        z-index: 15;
        pointer-events: none;
        animation: float 4s ease-in-out infinite;
    }

    .tetesanairsatu {
        position: absolute;
        top: 505px;
        left: 9%;
        transform: translateX(-50%);
        width: 31px;
        height: auto;
        z-index: 15;
        pointer-events: none;
        animation: float 4.5s ease-in-out infinite;

    }

    .selendangkanan {
        position: absolute;
        top: 155px;
        left: 87.8%;
        transform: translateX(-50%);
        width: 800px;
        height: auto;
    }

    .bungakuningdua {
        position: absolute;
        top: 420px;
        left: 83%;
        transform: translateX(-50%);
        width: 130px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .bintangkuningpolos {
        position: absolute;
        top: 150px;
        left: 91%;
        transform: translateX(-50%);
        width: 80px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .bungapinkdua {
        position: absolute;
        top: 70px;
        left: 86%;
        transform: translateX(-50%);
        width: 100px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .tetesanairv2 {
        position: absolute;
        top: 600px;
        left: 75%;
        transform: translateX(-50%);
        width: 30px;
        height: auto;
        z-index: 15;
        animation: float 4.5s ease-in-out infinite;
    }

    .tetesanairv3 {
        position: absolute;
        top: 540px;
        left: 90%;
        transform: translateX(-50%);
        width: 40px;
        height: auto;
        z-index: 15;
        animation: float 5s ease-in-out infinite;

    }

    .tetesanairv4 {
        position: absolute;
        top: 680px;
        left: 95%;
        transform: translateX(-50%);
        width: 40px;
        height: auto;
        z-index: 15;
        animation: float 4s ease-in-out infinite;

    }

    .carusel {
        position: absolute;
        top: 900px;
        left: 300px;
        z-index: 40;
    }

    .awanicon {
        position: absolute;
        width: 1600px;
        height: auto;
        right: -40px;
        top: 730px;
    }

    .ringcarusel {
        position: absolute;
        width: 1300px;
        height: auto;
        left: 200px;
        top: 240px;
        z-index: -5;
    }

    .decorationPFP {
        position: absolute;
        width: 1200px;
        height: auto;
        left: 320px;
        top: 330px;
        opacity: 0.1;
    }

    .bintangkuningpolosv2 {
        position: absolute;
        top: 840px;
        right: 1170px;
        width: 160px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .bungapinkpolosv2 {
        position: absolute;
        top: 840px;
        right: 1310px;
        width: 80px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .bungakuningv2 {
        position: absolute;
        top: 1120px;
        left: 1150px;
        width: 120px;
        height: auto;
        z-index: 15;
        pointer-events: none;

    }

    .bungapinkpolosv3 {
        position: absolute;
        top: 1220px;
        left: 1250px;
        width: 80px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .bintangbirupolosv2 {
        position: absolute;
        top: 1020px;
        left: 1250px;
        width: 80px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .bintangbirupolosv3 {
        position: absolute;
        top: 1220px;
        right: 1250px;
        width: 80px;
        height: auto;
        z-index: 15;
        pointer-events: none;
    }

    .tetesanairv5 {
        position: absolute;
        top: 1020px;
        right: 1220px;
        width: 20px;
        height: auto;
        z-index: 15;
        pointer-events: none;
        animation: float 4.5s ease-in-out infinite;

    }

    .tetesanairv6 {
        position: absolute;
        top: 133 0px;
        right: 1275px;
        width: 30px;
        height: auto;
        z-index: 15;
        pointer-events: none;
        animation: float 4.5s ease-in-out infinite;

    }

    .tetesanairv7 {
        position: absolute;
        top: 1250px;
        left: 1160px;
        width: 30px;
        height: auto;
        z-index: 15;
        pointer-events: none;
        animation: float 4.5s ease-in-out infinite;

    }

    .tetesanairv8 {
        position: absolute;
        top: 1340px;
        left: 1275px;
        width: 30px;
        height: auto;
        z-index: 15;
        pointer-events: none;
        animation: float 4.5s ease-in-out infinite;

    }

    .awanjoya {
        position: absolute;
        top: 1360px;
        right: 710px;
        width: 1000px;
        height: auto;
        z-index: 15;
    }


    .backgroundjoya {
        position: absolute;
        top: 1400px;
        right: -370px;
        width: 2000px;
        height: auto;
        z-index: 15;
    }

    .joya {
        position: absolute;
        top: 1770px;
        left: 950px;
        width: 300px;
        height: auto;
        z-index: 20;
    }

    .bgtitlev2 {
        position: absolute;
        top: 1770px;
        right: 820px;
        width: 350px;
        height: auto;
        z-index: 10;
    }

    .bintangkuningtitlev2 {
        position: absolute;
        left: 92%;
        top: 10px;
        transform: translateX(-50%);
        width: 23px;
        height: auto;
        z-index: 11;
        pointer-events: none;
    }

    .bintangkuningtitleduav2 {
        position: absolute;
        left: 8%;
        top: 10px;
        transform: translateX(-50%);
        width: 23px;
        height: auto;
        z-index: 12;
        pointer-events: none;
    }

    .text-joya {
        position: absolute;
        z-index: 5;
        left: 15 0px;
        color: #ffc647;
        top: 7px;
        font-size: 20px;
        font-family: var(--font-libre-caslon), serif;
    }

    .descriptionjoya {
        position: absolute;
        left: 320px;
        color: #fff8e9;
        top: 1830px;
        font-size: 16px;
        font-weight: 400;
        /* Memastikan font yang ditarik adalah Regular */
        font-family: var(--font-vend-sans), sans-serif;
        letter-spacing: 1px;
    }

    .bungajoya {
        position: absolute;
        top: 1695px;
        right: 500px;
        width: 130px;
        height: auto;
        z-index: 30;
    }

    .bungajoyav2 {
        position: absolute;
        top: 1580px;
        right: 1360px;
        width: 130px;
        height: auto;
        z-index: 30;
    }

    .bungajoyatiga {
        position: absolute;
        top: 1500px;
        left: 1280px;
        width: 130px;
        height: auto;
        z-index: 30;
    }

    .bungajoyaempat {
        position: absolute;
        top: 2000px;
        left: 1250px;
        width: 70px;
        height: auto;
        z-index: 30;
    }

    .skill {
        position: absolute;
        z-index: 5;
        left: 30%;
        transform: translateX(-50%);
        color: #ffc647;
        top: 2160px;
        font-size: 29px;
        font-family: var(--font-libre-caslon), serif;

    }

    .starimg {
        position: absolute;
        z-index: 5;
        left: 27%;
        transform: translateX(-50%);
        top: 2220px;
        width: 40px;
        height: auto;
    }

    .skillsatu {
        position: absolute;
        z-index: 5;
        left: 33.2%;
        transform: translateX(-50%);
        color: #fff8e9;
        top: 2220px;
        font-size: 24px;
        font-family: var(--font-vend-sans), sans-serif;
    }

    .skilldua {
        position: absolute;
        z-index: 5;
        left: 35.4%;
        transform: translateX(-50%);
        color: #fff8e9;
        top: 2270px;
        font-size: 24px;
        font-family: var(--font-vend-sans), sans-serif;
    }

    .skilltiga {
        position: absolute;
        z-index: 5;
        left: 34.8%;
        transform: translateX(-50%);
        color: #fff8e9;
        top: 2320px;
        font-size: 24px;
        font-family: var(--font-vend-sans), sans-serif;
    }

    .skillempat {
        position: absolute;
        z-index: 5;
        left: 39%;
        transform: translateX(-50%);
        color: #fff8e9;
        top: 2370px;
        font-size: 24px;
        font-family: var(--font-vend-sans), sans-serif;
    }



    .software {
        position: absolute;
        z-index: 5;
        left: 66.5%;
        transform: translateX(-50%);
        color: hsl(41, 100%, 64%);
        top: 2160px;
        font-size: 29px;
        font-family: var(--font-libre-caslon), serif;

    }

    .softwareimg {
        position: absolute;
        z-index: 5;
        left: 70%;
        transform: translateX(-50%);
        top: 2220px;
        width: 280px;
        height: auto;
    }



    .bgtitlev3 {
        position: absolute;
        top: 2550px;
        right: 530px;
        width: 350px;
        height: auto;
        z-index: 10;
    }

    .bintangkuningtitlev3 {
        position: absolute;
        left: 93%;
        top: 10px;
        transform: translateX(-50%);
        width: 23px;
        height: auto;
        z-index: 11;
        pointer-events: none;
    }

    .bintangkuningtitleduav3 {
        position: absolute;
        left: 8%;
        top: 10px;
        transform: translateX(-50%);
        width: 23px;
        height: auto;
        z-index: 12;
        pointer-events: none;
    }

    .dekorfooter {
        position: absolute;
        z-index: 3;
        width: 100px;
        left: 93%;
        transform: translateX(-50%);
        height: auto;
        top: 2480px;
        pointer-events: none;
        animation: float 4.5s ease-in-out infinite;

    }

    .dekorfooterdua {
        position: absolute;
        z-index: 3;
        width: 100px;
        left: 100px;
        height: auto;
        top: 2480px;
        pointer-events: none;
        animation: float 4.5s ease-in-out infinite;

    }

    .footerAbout {
        position: absolute;
        top: 0px;
        width: 100%;
        height: auto;
    }
}